@import scala.collection.immutable
@import models.Facility
@import models.Defaults

@(lastLat : Option[scala.Float], lastLon : Option[scala.Float], lastZoom : Float, myLocation: Option[(scala.Float,scala.Float)], foundIPLocation : Boolean = false)

@main("MapTest") {
<h1>Test the map!</h1>

<div>
    <div id="map"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        window.findFacilities = false;

        @if(myLocation.isDefined){
            @Html(s"""
              window.findFacilities = true;
              var myX       = ${myLocation.get._2};
              var myY       = ${myLocation.get._1};
              """)
        }

        //These are used to center the map around a specified position on initialization. If no location has been
        //specified or retrieved, the map will try to center around the user's IP position.
        var lastLon        = @lastLon.getOrElse(0);
        var lastLat        = @lastLat.getOrElse(0);
        var lastZoom       = @lastZoom;
        var defaultLimit   = @Defaults.limit;
        var defaultRadius  = @Defaults.radius;

    </script>
    @* Remove the 'New' in 'googlemapNew' for the other version. Uncomment the radius inputs when you do. *@
    <script src="/assets/javascripts/googlemapNew.js"></script>
    <script src="/assets/javascripts/geolocation.js"></script>

    <!--If no position has been specified, center the map around the user's IP position.-->
    @if(!foundIPLocation && lastLon.isEmpty && lastLat.isEmpty){
        <script>CenterMyPosition(true);</script>
    }


    <button onclick="toggleHeatmap();" type="button">Toggle Heatmap</button>


    <p>
        <label for="teetime">Teetime:</label>
        <input type="text" id="teetime" readonly style="border:0; color:white; background-color:black;">
        <input type="hidden" id="time-low">
        <input type="hidden" id="time-high">
    </p>
    <div id="slider-range"></div>
    <hr>

    <!--form action="#" method="GET"-->
        <p>Search by address/location</p>
        <input name="address" placeholder="Golfstreet 777, USA" id="address" required>
        <!--p>Max distance in kilometers</p>
        <input name="radius"  type="number" id="georadius" value="15" required><br><br-->
        <input name="submit"  type="submit" id="geocoder" value="Search">
    <!--/form-->
    <hr>
    <div id="allow-geo">
        <p>Allow us to search for facilities near you.</p>
        <button onclick="geoFindMe();" type="button">Allow</button>
    </div>

    <form action="#" method="GET" id="geo-form">
        <p>Search by your current location</p>
        <!--p>Max distance in kilometers</p>
        <input name="radius"     type="number" value="15"    required><br><br-->
        <input id="geolatitude"  name="geolat" type="hidden" required>
        <input id="geolongitude" name="geolon" type="hidden" required>
        <input id="last-lat"     name="lat"    type="hidden">
        <input id="last-lon"     name="lon"    type="hidden">
        <input                   name="zoom"   type="hidden" value="13">
        <input name="submit"  type="submit" value="Search">
        <script>getCoords();</script>
    </form>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuNX3q4tleOgFYfculRieQCZ4mVhbH0oA&callback=initMap&libraries=visualization"> </script>
</div>


<!--MODAL-->
<div id="my-modal" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom w3-card-4">
        <header class="w3-container">
        <span onclick="document.getElementById('my-modal').style.display='none';"
              class="w3-button w3-display-topright">&times;</span>
            <h2>Loading facility info for <span id="my-modal-facility"></span></h2>
            <hr>
        </header>
        <div class="w3-container">
            <p>Not actually loading anything...</p>
        </div>
    </div>
</div>

}
